/*This line is all dedicated to the first part of the webpage that is the profile picture and name
but is considered as navbar when naming the classes*/
body {
  margin: 0px;
}

.navbar {
  background-color: #848ccf;
  display: block;
  padding: 7rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.navbar h1 {
  font-size: 5rem;
  color: #25319c;
  text-shadow: 0.1rem 0.1rem 0.1rem grey;
}

.navbar p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
}

.navbar p .web {
  color: #dc322f;
}

.navbar p .developer {
  color: #073642;
}

.navbar p .programmer {
  color: #eee8d5;
}

.navbar img {
  border-radius: 100%;
}

/*********************************************************************************************************/
/**
Here work experience is introduced


***/
.experience {
  background-color: #93b5e1;
  text-align: center;
  padding: 7rem;
}

.experience h3 {
  margin: 0px;
  font-family: 'Didact Gothic', sans-serif;
  padding: 2rem 0rem 2rem 0rem;
  font-size: 3rem;
}

.experience p {
  font-family: 'Raleway', sans-serif;
  padding: 2rem 0rem 2rem 0rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.experience img {
  padding-top: 2rem;
  width: 10rem;
}

/*************************************************************************/
/**********This is skill section********************/
.skills {
  padding-top: 5rem;
  padding-left: 2rem;
  background-color: #ffe4e4;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  padding-bottom: 0px;
}
.skills h3{
  color: #e6a0a0;
  font-size: 3rem;
}
div.polaroid {
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 2rem 2rem 2rem 2rem;
}

.polaroid img {
  margin-top: 1rem;
  width: 10rem;
  height: 10rem;
}

.skill-name {
  text-align: center;
  padding: 10px 20px;
}

/**************************************************************************************************/
/*****
this is footer section******/
.footer {
  background-color: #be5683;
  text-align: center;
  padding: 5rem;
}

.btn {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.1rem 0.1rem #666666;
  -moz-box-shadow: 0rem 0.1rem 0.1rem #666666;
  box-shadow: 0rem 0.1rem 0.1rem #666666;
  font-family: Arial;
  color: #b1e396;
  font-size: 1.5rem;
  background: #83be56;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
  margin: 2rem;
}

.btn:hover {
  background: #83be56;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem #666666;
  -moz-box-shadow: 0rem 0.5rem 0.5rem #666666;
  box-shadow: 0rem 0.5rem 0.5rem #666666;
}

/******************************************************************************************************/
/*hr**/
hr {
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #ffffe4;
  border-top-width: 5px;
  margin-top: 5rem;
  margin-bottom: 0px;
  width: 5%;
  border-style: dotted;
}
